In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from functools import reduce

In [2]:
%store -r df
%store -r df1
%store -r df2
%store -r df2_no_dups
%store -r df3
%store -r df3_no_dups
%store -r df_dur_readytoship_truck
%store -r df_dur_readytoship_truck_standard
%store -r df_dur_readytoship_truck_xpress
%store -r df_no_dups
%store -r df_order_del_time
%store -r df_order_del_time2
%store -r df_order_del_total
%store -r df_prep_dur_ver

In [3]:
df.columns = map(str.lower, df.columns)
df.columns = df.columns.str.replace(' ', '_')
df1.columns = map(str.lower, df1.columns)
df1.columns = df1.columns.str.replace(' ', '_')
df2.columns = map(str.lower, df2.columns)
df2.columns = df2_no_dups.columns.str.replace(' ', '_')
df2_no_dups.columns = map(str.lower, df2.columns)
df2_no_dups.columns = df2_no_dups.columns.str.replace(' ', '_')
df3.columns = map(str.lower, df3.columns)
df3.columns = df3_no_dups.columns.str.replace(' ', '_')
df3_no_dups.columns = map(str.lower, df3_no_dups.columns)
df3_no_dups.columns = df3_no_dups.columns.str.replace(' ', '_')
df_dur_readytoship_truck.columns = map(str.lower, df_dur_readytoship_truck.columns)
df_dur_readytoship_truck.columns = df_dur_readytoship_truck.columns.str.replace(' ', '_')
df_dur_readytoship_truck_standard.columns = map(str.lower, df_dur_readytoship_truck_standard.columns)
df_dur_readytoship_truck_standard.columns = df_dur_readytoship_truck_standard.columns.str.replace(' ', '_')
df_dur_readytoship_truck_xpress.columns = map(str.lower, df_dur_readytoship_truck_xpress.columns)
df_dur_readytoship_truck_xpress.columns = df_dur_readytoship_truck_xpress.columns.str.replace(' ', '_')
df_no_dups.columns = map(str.lower, df_no_dups.columns)
df_no_dups.columns = df_no_dups.columns.str.replace(' ', '_')
df_order_del_time.columns = map(str.lower, df_order_del_time.columns)
df_order_del_time.columns = df_order_del_time.columns.str.replace(' ', '_')
df_order_del_time2.columns = map(str.lower, df_order_del_time2.columns)
df_order_del_time2.columns = df_order_del_time2.columns.str.replace(' ', '_')
df_order_del_total.columns = map(str.lower, df_order_del_total.columns)
df_order_del_total.columns = df_order_del_total.columns.str.replace(' ', '_')
df_prep_dur_ver.columns = map(str.lower, df_prep_dur_ver.columns)
df_prep_dur_ver.columns = df_prep_dur_ver.columns.str.replace(' ', '_')

In [4]:
display(df.sample(5))
display(df1.sample(5))
display(df2.sample(5))
display(df2_no_dups.sample(5))
display(df3.sample(5))
display(df3_no_dups.sample(5))
display(df_dur_readytoship_truck.sample(5))
display(df_dur_readytoship_truck_standard.sample(5))
display(df_dur_readytoship_truck_xpress.sample(5))
display(df_no_dups.sample(5))
display(df_order_del_time.sample(5))
display(df_order_del_time2.sample(5))
display(df_order_del_total.sample(5))
display(df_prep_dur_ver.sample(5))

,order_id,order_date,ship_mode,customer_id,customer_name,country/region,city,state,postal_code,region,product_id,sales,quantity,discount,profit
3704,CA-2018-130995,2018-11-01,Standard Class,QJ-19255,Quincy Jones,United States,New York City,New York,10009.0,East,TEC-PH-10000347,4.950,1,0.0,1.3365
3702,CA-2018-153108,2018-03-05,Standard Class,SF-20200,Sarah Foster,United States,New Castle,Indiana,47362.0,Central,TEC-PH-10001552,23.920,2,0.0,6.6976
6803,CA-2018-138457,2018-09-13,Standard Class,AM-10705,Anne McFarland,United States,Jacksonville,North Carolina,28540.0,South,OFF-BI-10000014,13.092,4,0.7,-10.0372
4659,CA-2018-108588,2018-01-05,Standard Class,BG-11695,Brooke Gillingham,United States,New York City,New York,10009.0,East,OFF-EN-10000461,17.480,2,0.0,8.2156
4595,CA-2017-159709,2017-05-10,Standard Class,AI-10855,Arianne Irving,United States,Kent,Washington,98031.0,West,OFF-EN-10001434,158.130,3,0.0,77.4837

           order_id arrival_scan_date
118  CA-2019-162159        2019-09-23
297  CA-2020-145807        2020-02-25
111  CA-2019-121223        2019-09-19
61   CA-2019-169943        2019-06-03
259  US-2019-132857        2019-12-23

            Order_ID On_Truck_Scan_Date            Ship_Mode
4166  CA-2020-112956         2020-08-28  Standard Processing
5385  CA-2020-101665         2020-12-02  Standard Processing
583   CA-2019-158435         2019-05-20              Express
1415  US-2019-121013         2019-09-11  Standard Processing
5188  US-2020-107888         2020-11-20              Express

            order_id on_truck_scan_date            ship_mode
1813  CA-2019-112340         2019-10-30  Standard Processing
211   US-2019-137547         2019-03-13  Standard Processing
292   CA-2019-150889         2019-03-25  Standard Processing
5037  CA-2020-114258         2020-11-12  Standard Processing
5101  CA-2020-161018         2020-11-13  Standard Processing

           Order_ID Ready_to_Ship_Date Pickup_Date
240  CA-2020-162250         2020-11-24  2020-11-25
266  CA-2020-161459         2020-11-30  2020-12-02
105  CA-2020-121160         2020-11-04  2020-11-04
172  US-2020-118598         2020-11-16  2020-11-16
243  CA-2020-156622         2020-11-26  2020-11-27

           order_id ready_to_ship_date pickup_date
220  CA-2020-112529         2020-11-23  2020-11-23
288  CA-2020-119305         2020-12-04  2020-12-07
188  CA-2020-136308         2020-11-16  2020-11-16
75   CA-2019-130267         2019-09-23  2019-09-25
208  US-2020-102904         2020-11-20  2020-11-23

,order_id,on_truck_scan_date,ship_mode,ready_to_ship_date,pickup_date,ship_to_truck,weekday
192,CA-2020-122700,2020-12-02,Standard Processing,2020-11-30,2020-12-02,2 days,Wednesday
190,CA-2020-124765,2020-12-02,Standard Processing,2020-11-30,2020-12-02,2 days,Wednesday
118,US-2020-125808,2020-11-18,Standard Processing,2020-11-16,2020-11-18,2 days,Wednesday
99,US-2020-116659,2020-11-13,Express,2020-11-12,2020-11-13,1 days,Friday
48,CA-2019-100244,2019-09-25,Standard Processing,2019-09-24,2019-09-25,1 days,Wednesday

,order_id,on_truck_scan_date,ship_mode,ready_to_ship_date,pickup_date,ship_to_truck,weekday
86,CA-2020-122504,2020-11-12,Standard Processing,2020-11-09,2020-11-12,3 days,Thursday
46,CA-2019-142370,2019-09-25,Standard Processing,2019-09-23,2019-09-25,2 days,Wednesday
103,CA-2020-163874,2020-11-13,Standard Processing,2020-11-12,2020-11-13,1 days,Friday
195,CA-2020-141439,2020-12-02,Standard Processing,2020-12-01,2020-12-02,1 days,Wednesday
135,US-2020-124926,2020-11-20,Standard Processing,2020-11-18,2020-11-20,2 days,Friday

,order_id,on_truck_scan_date,ship_mode,ready_to_ship_date,pickup_date,ship_to_truck,weekday
98,US-2020-116491,2020-11-13,Express,2020-11-13,2020-11-13,0 days,Friday
7,CA-2019-145240,2019-09-09,Express,2019-09-09,2019-09-09,0 days,Monday
134,CA-2020-121468,2020-11-20,Express,2020-11-20,2020-11-20,0 days,Friday
0,CA-2019-116540,2019-09-03,Express,2019-09-02,2019-09-03,1 days,Tuesday
97,CA-2020-150959,2020-11-13,Express,2020-11-13,2020-11-13,0 days,Friday

,order_id,order_date,ship_mode,customer_id,customer_name,country/region,city,state,postal_code,region,product_id,sales,quantity,discount,profit
2096,CA-2020-122539,2020-12-01,Standard Class,SC-20305,Sean Christensen,United States,Philadelphia,Pennsylvania,19140.0,East,OFF-LA-10004853,15.936,4,0.2,5.1792
5216,CA-2020-100825,2020-09-09,Standard Class,KD-16495,Keith Dawkins,United States,Los Angeles,California,90036.0,West,OFF-ST-10003123,99.870,3,0.0,23.9688
3842,CA-2018-103205,2018-12-08,Second Class,JJ-15760,Joel Jenkins,United States,Houston,Texas,77036.0,Central,TEC-PH-10004896,119.960,5,0.2,11.9960
1386,CA-2019-128412,2019-12-10,Standard Class,AP-10915,Arthur Prichep,United States,Seattle,Washington,98105.0,West,OFF-AP-10000252,35.100,3,0.0,12.2850
5226,CA-2017-117765,2017-09-07,Standard Class,RB-19465,Rick Bensley,United States,Tulsa,Oklahoma,74133.0,Central,OFF-ST-10003327,19.860,2,0.0,5.7594

,order_id,on_truck_scan_date,ship_mode,arrival_scan_date,delivery_time
238,CA-2019-160535,2019-12-04,Standard Processing,2019-12-09,5 days
25,CA-2019-112676,2019-05-10,Express,2019-05-14,4 days
151,US-2019-115952,2019-10-07,Express,2019-10-10,3 days
179,CA-2019-120369,2019-10-28,Express,2019-10-31,3 days
184,US-2019-117387,2019-11-04,Standard Processing,2019-11-08,4 days

,order_id,arrival_scan_date,ready_to_ship_date,pickup_date,delivery_time2
21,CA-2019-163202,2019-10-07,2019-10-02,2019-10-04,3 days
9,CA-2019-149223,2019-09-17,2019-09-11,2019-09-13,4 days
19,CA-2019-166772,2019-09-30,2019-09-24,2019-09-25,5 days
0,CA-2019-129630,2019-09-09,2019-09-04,2019-09-04,5 days
20,CA-2019-141551,2019-10-07,2019-09-30,2019-10-02,5 days

,order_id,arrival_scan_date,order_date,customer_id,customer_name,total_delivery_time
66,CA-2019-137729,2019-05-17,2019-05-05,BF-11005,Barry Franz,12 days
420,CA-2019-109820,2019-11-25,2019-11-20,AG-10390,Allen Goldenen,5 days
386,CA-2019-116337,2019-11-18,2019-11-07,MC-17845,Michael Chen,11 days
613,CA-2020-114370,2020-03-23,2020-03-14,BN-11470,Brad Norvell,9 days
364,CA-2019-146913,2019-11-11,2019-10-31,SF-20965,Sylvia Foulston,11 days

,order_id,order_date,customer_id,customer_name,ready_to_ship_date,pickup_date,weekday,prep_duration,prep_duration
226,CA-2019-126732,2019-09-02,LR-16915,Lena Radford,2019-09-06,2019-09-09,Monday,4,4 days
409,CA-2019-100944,2019-09-24,EH-13765,Edward Hooks,2019-09-30,2019-10-02,Tuesday,6,6 days
175,CA-2020-164168,2020-11-12,LS-16975,Lindsay Shagiari,2020-11-18,2020-11-20,Thursday,6,6 days
201,CA-2020-167941,2020-11-06,JF-15565,Jill Fjeld,2020-11-09,2020-11-12,Friday,3,3 days
78,CA-2019-145625,2019-09-11,KC-16540,Kelly Collister,2019-09-17,2019-09-18,Wednesday,6,6 days

In [5]:
df_prep_dur_ver['weekday'] = df_prep_dur_ver['order_date'].dt.day_name()

df_prep_dur_ver

,order_id,order_date,customer_id,customer_name,ready_to_ship_date,pickup_date,weekday,prep_duration,prep_duration
0,CA-2020-119004,2020-11-23,JM-15250,Janet Martin,2020-11-30,2020-12-02,Monday,7,7 days
1,CA-2019-145625,2019-09-11,KC-16540,Kelly Collister,2019-09-17,2019-09-18,Wednesday,6,6 days
2,CA-2020-135307,2020-11-26,LS-17245,Lynn Smith,2020-11-27,2020-11-27,Thursday,1,1 days
3,CA-2019-102981,2019-09-06,MO-17500,Mary O'Rourke,2019-09-09,2019-09-11,Friday,3,3 days
4,US-2020-155425,2020-11-10,AB-10600,Ann Blume,2020-11-11,2020-11-12,Tuesday,1,1 days
...,...,...,...,...,...,...,...,...,...
413,CA-2020-150266,2020-11-25,RO-19780,Rose O'Brian,2020-11-30,2020-12-02,Wednesday,5,5 days
414,CA-2019-106278,2019-09-02,BM-11140,Becky Martin,2019-09-05,2019-09-06,Monday,3,3 days
415,US-2020-165456,2020-11-30,TB-21625,Trudy Brown,2020-12-03,2020-12-04,Monday,3,3 days
416,US-2020-109610,2020-11-25,BS-11590,Brendan Sweed,2020-11-30,2020-12-02,Wednesday,5,5 days
417,CA-2020-102925,2020-11-05,CD-12280,Christina DeMoss,2020-11-10,2020-11-12,Thursday,5,5 days

In [6]:
df_prep_dur_ver.sample(10)

,order_id,order_date,customer_id,customer_name,ready_to_ship_date,pickup_date,weekday,prep_duration,prep_duration
163,CA-2020-120404,2020-11-20,KH-16330,Katharine Harms,2020-11-24,2020-11-25,Friday,4,4 days
328,CA-2020-112529,2020-11-19,SC-20770,Stewart Carmichael,2020-11-23,2020-11-23,Thursday,4,4 days
78,CA-2019-145625,2019-09-11,KC-16540,Kelly Collister,2019-09-17,2019-09-18,Wednesday,6,6 days
255,CA-2020-107125,2020-11-27,BD-11320,Bill Donatelli,2020-12-02,2020-12-04,Friday,5,5 days
47,US-2020-163790,2020-11-02,NL-18310,Nancy Lomonaco,2020-11-04,2020-11-06,Monday,2,2 days
318,CA-2019-106950,2019-09-02,JE-15715,Joe Elijah,2019-09-06,2019-09-09,Monday,4,4 days
384,CA-2019-129847,2019-09-02,TA-21385,Tom Ashbrook,2019-09-04,2019-09-04,Monday,2,2 days
332,CA-2020-141439,2020-11-26,TT-21460,Tonja Turnell,2020-12-01,2020-12-02,Thursday,5,5 days
371,CA-2020-117702,2020-11-28,LS-16975,Lindsay Shagiari,2020-11-30,2020-12-02,Saturday,2,2 days
113,CA-2020-155159,2020-11-25,DL-13315,Delfina Latchford,2020-11-30,2020-12-02,Wednesday,5,5 days

In [7]:
# Group the data by weekday and find the maximum preparation duration for each weekday
max_prep_duration_by_weekday = df_prep_dur_ver.groupby('weekday')['prep_duration'].max()

# Print or analyze the maximum preparation duration for each weekday
print("Maximum preparation duration for each weekday:")
print(max_prep_duration_by_weekday)

Maximum preparation duration for each weekday:
          prep_duration prep_duration
weekday
Friday                7        7 days
Monday                7        7 days
Saturday              6        6 days
Sunday                8        8 days
Thursday              6        6 days
Tuesday               7        7 days
Wednesday             6        6 days

In [8]:
# Group the data by weekday and find the minimum preparation duration for each weekday
min_prep_duration_by_weekday = df_prep_dur_ver.groupby('weekday')['prep_duration'].min()

# Print or analyze the minimum preparation duration for each weekday
print("Minimum preparation duration for each weekday:")
print(min_prep_duration_by_weekday)

Minimum preparation duration for each weekday:
          prep_duration prep_duration
weekday
Friday                0        0 days
Monday                0        0 days
Saturday              2        2 days
Sunday                4        4 days
Thursday              0        0 days
Tuesday               0        0 days
Wednesday             0        0 days

In [9]:
# Group the data by weekday and calculate the average preparation duration for each weekday
average_prep_duration_by_weekday = df_prep_dur_ver.groupby('weekday')['prep_duration'].mean()


average_prep_duration_by_weekday.sort_values(ascending=False)

TypeError: sort_values() missing 1 required positional argument: 'by'

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Define the custom order of weekdays
custom_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

# Group the data by weekday and calculate the average preparation duration for each weekday
average_prep_duration_by_weekday = df_prep_dur_ver.groupby('weekday')['prep_duration'].mean()

# Create a bar plot
plt.figure(figsize=(7, 4))
average_prep_duration_by_weekday.loc[custom_order].plot(kind='bar', color='skyblue')
plt.title('Average Preparation Duration by Weekday')
plt.xlabel('')
plt.ylabel('Average Preparation Duration (Days)')
plt.xticks(rotation=0)
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()

In [ ]:
average_prep_duration_by_weekday.mean()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Define the custom order of weekdays
custom_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

# Group the data by weekday and calculate the average preparation duration for each weekday
average_prep_duration_by_weekday = df_prep_dur_ver.groupby('weekday')['prep_duration'].mean()

# Create a bar plot
plt.figure(figsize=(7, 4))
average_prep_duration_by_weekday.loc[custom_order].plot(kind='bar', color='#387771', label='Average Prep Time')
plt.axhline(y=2, color='black', linestyle='-', label='Assumed Prep Time')  
plt.title('Average Preparation Duration by Weekday')
plt.xlabel('')
plt.ylabel('Average Preparation Duration (Days)')
plt.xticks(rotation=0)
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.legend()
plt.tight_layout()
plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
#KPI 1 order date - ready to ship date
# Convert the date columns to datetime format
df_prep_dur_ver['order_date'] = pd.to_datetime(df_prep_dur_ver['order_date'])
df_prep_dur_ver['ready_to_ship_date'] = pd.to_datetime(df_prep_dur_ver['ready_to_ship_date'])
df_prep_dur_ver['pickup_date'] = pd.to_datetime(df_prep_dur_ver['pickup_date'])

# Calculate the preparation duration for each order
df_prep_dur_ver['prep_duration'] = (df_prep_dur_ver['ready_to_ship_date'] - df_prep_dur_ver['order_date']).dt.days

# Order the weekdays by their natural order
weekdays_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

# Setting up Seaborn style
sns.set_style("whitegrid")

# Plotting the data as boxplots with ordered weekdays and blue color
plt.figure(figsize=(7, 4))
sns.boxplot(x=df_prep_dur_ver['order_date'].dt.day_name(), y='prep_duration', data=df_prep_dur_ver, palette='Blues',
            order=weekdays_order, medianprops=dict(color='red'))
plt.title('Distribution of Preparation Duration by Order Day')
plt.xlabel('Order Day of Week')
plt.ylabel('Preparation Duration (Days)')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

# Define the custom order of weekdays
custom_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

# Convert the date columns to datetime format
df_prep_dur_ver['order_date'] = pd.to_datetime(df_prep_dur_ver['order_date'])
df_prep_dur_ver['ready_to_ship_date'] = pd.to_datetime(df_prep_dur_ver['ready_to_ship_date'])
df_prep_dur_ver['pickup_date'] = pd.to_datetime(df_prep_dur_ver['pickup_date'])

# Calculate the preparation duration for each order
df_prep_dur_ver['prep_duration'] = (df_prep_dur_ver['ready_to_ship_date'] - df_prep_dur_ver['order_date']).dt.days

# Setting up Seaborn style
sns.set_style("whitegrid")

# Plotting the data as a violin plot with custom weekday order
plt.figure(figsize=(7, 4))
sns.violinplot(x=df_prep_dur_ver['order_date'].dt.day_name(), y='prep_duration', data=df_prep_dur_ver, color='#387771', order=custom_order)
plt.title('Distribution of Preparation Duration by Order Day')
plt.xlabel('')
plt.ylabel('Preparation Duration (Days)')
plt.xticks(rotation=0)
plt.tight_layout()
plt.show()

In [ ]:
import numpy as np

# Define the norm for preparation time
norm_prep_time = 2

# Create bins for categorizing preparation duration
bins = [-np.inf, norm_prep_time-1, norm_prep_time+1, np.inf]
labels = ['Early', 'On Time', 'Late']

# Create a new column 'status' to indicate the status of each order
df_prep_dur_ver['status'] = pd.cut(df_prep_dur_ver['prep_duration'], bins=bins, labels=labels)

# Count the number of orders in each status category
status_counts = df_prep_dur_ver['status'].value_counts()

# Print the counts
print("Number of orders by status:")
print(status_counts)

In [ ]:
status_counts_percent = (status_counts/418).round(2)
status_counts_percent

In [ ]:
df_prep_dur_ver.describe()

In [ ]:
# KPI 2

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Assuming 'df_dur_readytoship_truck' is your DataFrame containing the data

# Convert date columns to datetime format
df_dur_readytoship_truck['ready_to_ship_date'] = pd.to_datetime(df_dur_readytoship_truck['ready_to_ship_date'])
df_dur_readytoship_truck['on_truck_scan_date'] = pd.to_datetime(df_dur_readytoship_truck['on_truck_scan_date'])

# Calculate the duration from ready to ship date to on-truck scan date
df_dur_readytoship_truck['shipment_duration'] = (df_dur_readytoship_truck['on_truck_scan_date'] - df_dur_readytoship_truck['ready_to_ship_date']).dt.days

# Group the data by ship mode and calculate the average duration for each mode
average_duration_by_ship_mode = df_dur_readytoship_truck.groupby('ship_mode')['shipment_duration'].mean()

# Plot the average duration by ship mode
plt.figure(figsize=(7, 4))
average_duration_by_ship_mode.plot(kind='bar', color='#387771')
plt.title('Average Truckloading Duration')
plt.xlabel('')
plt.ylabel('Average Shipment Duration (Days)')
plt.xticks(rotation=0)
plt.tight_layout()
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Define the custom order of weekdays
custom_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

# Convert date columns to datetime format
df_dur_readytoship_truck['ready_to_ship_date'] = pd.to_datetime(df_dur_readytoship_truck['ready_to_ship_date'])
df_dur_readytoship_truck['on_truck_scan_date'] = pd.to_datetime(df_dur_readytoship_truck['on_truck_scan_date'])

# Calculate the duration from ready to ship date to on-truck scan date
df_dur_readytoship_truck['shipment_duration'] = (df_dur_readytoship_truck['on_truck_scan_date'] - df_dur_readytoship_truck['ready_to_ship_date']).dt.days

# Group the data by weekday and ship mode and calculate the average duration for each weekday and ship mode combination
average_duration_by_weekday_and_ship_mode = df_dur_readytoship_truck.groupby(['weekday', 'ship_mode'])['shipment_duration'].mean().reset_index()

# Plot the average duration by ship mode for each weekday
plt.figure(figsize=(8, 4))
sns.barplot(x='weekday', y='shipment_duration', hue='ship_mode', data=average_duration_by_weekday_and_ship_mode, palette='Blues', order=custom_order)
plt.title('Average Shipment Duration by Ship Mode for Each Weekday')
plt.xlabel('Weekday')
plt.ylabel('Average Shipment Duration (Days)')
plt.legend(title='Ship Mode', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.xticks(rotation=0)
plt.tight_layout()
plt.show()

In [ ]:
# Filter the DataFrame for Tuesdays and Thursdays
tuesday_thursday_orders = df_dur_readytoship_truck[(df_dur_readytoship_truck['weekday'] == 'Tuesday') | (df_dur_readytoship_truck['weekday'] == 'Thursday')]

# Print the filtered DataFrame
tuesday_thursday_orders.head(20)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Define the custom order of weekdays
custom_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

# Setting up Seaborn style
sns.set_style("whitegrid")

# Plotting the data as grouped boxplots for each weekday and shipping mode with custom order
plt.figure(figsize=(7, 4))
sns.boxplot(x='weekday', y='shipment_duration', hue='ship_mode', data=df_dur_readytoship_truck, palette='Blues', order=custom_order)
plt.title('Distribution of Shipment Duration by Weekday and Shipping Mode')
plt.xlabel('Weekday')
plt.ylabel('Shipment Duration (Days)')
plt.legend(title='Shipping Mode')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
#KPI 3

In [ ]:
df_order_del_time.head()

In [ ]:
import pandas as pd

# Assuming df_order_del_time is your DataFrame

# Grouping by 'ship_mode' and calculating the average delivery time
average_delivery_time = df_order_del_time.groupby('ship_mode')['delivery_time'].mean()

print(average_delivery_time)

In [ ]:
# Assuming df_order_del_time is your DataFrame

# Grouping by 'ship_mode' and calculating the average delivery time
average_delivery_time = df_order_del_time.groupby('ship_mode')['delivery_time'].mean()

# Plotting
plt.figure(figsize=(7, 4))
average_delivery_time.plot(kind='bar', color='#387771')
plt.title('Average Delivery Time by Ship Mode')
plt.xlabel('Ship Mode')
plt.ylabel('Average Delivery Time (days)')
plt.xticks(rotation=0, ha='right')
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()

In [ ]:
df_order_del_time2.head()

In [ ]:
# Calculate the average delivery time
average_delivery_time2 = df_order_del_time2['delivery_time2'].mean()

print("Average Delivery Time from DataFrame 2:", average_delivery_time2)

In [ ]:
#kpi 4

In [ ]:
df_order_del_total.head()

In [ ]:
# Convert 'order_date' to datetime if it's not already
df_order_del_total['order_date'] = pd.to_datetime(df_order_del_total['order_date'])

# Add a new column for weekdays
df_order_del_total['order_weekday'] = df_order_del_total['order_date'].dt.day_name()

df_order_del_total.sample(3)

In [ ]:
# Group by weekday and calculate average delivery time
average_delivery_time_weekday = df_order_del_total.groupby('order_weekday')['total_delivery_time'].mean()

print(average_delivery_time_weekday)

In [ ]:
import pandas as pd

# Assuming df_order_del_total is your DataFrame

# Convert 'order_date' and 'arrival_scan_date' to datetime if they're not already
df_order_del_total['order_date'] = pd.to_datetime(df_order_del_total['order_date'])
df_order_del_total['arrival_scan_date'] = pd.to_datetime(df_order_del_total['arrival_scan_date'])

# Calculate the order time in hours
df_order_del_total['order_time_hours'] = (df_order_del_total['arrival_scan_date'] - df_order_del_total['order_date']).dt.total_seconds() / 3600

df_order_del_total.head()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Assuming df_order_del_total is your DataFrame

# Plotting
plt.figure(figsize=(7, 4))
sns.boxplot(x='order_weekday', y='order_time_hours', data=df_order_del_total, palette='Blues', order=weekday_order)
plt.title('Order Time in Hours by Weekday')
plt.xlabel('Weekday')
plt.ylabel('Order Time (hours)')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Convert order time from hours to days
df_order_del_total['order_time_days'] = df_order_del_total['order_time_hours'] / 24

# Plotting
plt.figure(figsize=(7, 4))
sns.boxplot(x='order_weekday', y='order_time_days', data=df_order_del_total, palette='Blues', order=weekday_order, medianprops={'color':'red'})
plt.title('Order Time in Days by Weekday')
plt.xlabel('Weekday')
plt.ylabel('Order Time (days)')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Convert order time from hours to days
df_order_del_total['order_time_days'] = df_order_del_total['order_time_hours'] / 24

# Plotting
plt.figure(figsize=(7, 4))
sns.lineplot(x='order_weekday', y='order_time_days', data=df_order_del_total, marker='o', color='blue')
plt.title('Order Time in Days by Weekday')
plt.xlabel('Weekday')
plt.ylabel('Order Time (days)')
plt.xticks(rotation=45)
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
# Convert order time from hours to days
df_order_del_total['order_time_days'] = df_order_del_total['order_time_hours'] / 24

# Plotting scatter plot
plt.figure(figsize=(7, 4))
sns.scatterplot(x='order_weekday', y='order_time_days', data=df_order_del_total, color='blue', s=100)
plt.title('Order Time in Days by Weekday')
plt.xlabel('Weekday')
plt.ylabel('Order Time (days)')
plt.xticks(rotation=45)
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
# Convert order time from hours to days
df_order_del_total['order_time_days'] = df_order_del_total['order_time_hours'] / 24

# Plotting area plot
plt.figure(figsize=(7, 4))
sns.lineplot(x='order_weekday', y='order_time_days', data=df_order_del_total, marker='o', color='blue')
plt.fill_between(df_order_del_total['order_weekday'], df_order_del_total['order_time_days'], color='skyblue', alpha=0.3)
plt.title('Order Time in Days by Weekday')
plt.xlabel('Weekday')
plt.ylabel('Order Time (days)')
plt.xticks(rotation=45)
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
# Calculate average delivery time in days
average_delivery_time_days = df_order_del_total['total_delivery_time_days'].mean()

# Plotting scatter plot with average line
plt.figure(figsize=(7, 4))
plt.scatter(df_order_del_total.index, df_order_del_total['total_delivery_time_days'], color='blue', alpha=0.5)
plt.axhline(y=average_delivery_time_days, color='red', linestyle='-', label=f'Average Delivery Time: {average_delivery_time_days:.2f} days')
plt.title('Delivery Time for Each Order')
plt.xlabel('Order Index')
plt.ylabel('Delivery Time (days)')
plt.legend()
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Assuming df_order_del_total is your DataFrame

# Define the order of weekdays
weekday_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

# Calculate average order time and 95th percentile for each weekday
average_order_time = df_order_del_total.groupby('order_weekday')['order_time_days'].mean().reindex(weekday_order)
percentile_95 = df_order_del_total.groupby('order_weekday')['order_time_days'].quantile(0.95).reindex(weekday_order)

# Plotting barplot
plt.figure(figsize=(7, 4))
sns.barplot(x=average_order_time.index, y=average_order_time.values, color='skyblue', label='Average Order Time')
plt.errorbar(x=average_order_time.index, y=average_order_time.values, yerr=np.abs(percentile_95 - average_order_time.values), fmt='none', ecolor='black', capsize=5, label='95% Confidence Interval')
plt.title('Average Delivery Time and 95% Confidence Interval by Weekday')
plt.xlabel('')
plt.ylabel('Delivery Time (days)')
plt.xticks(rotation=0)
plt.legend()
plt.tight_layout()
plt.ylim(0, 18)
plt.show()

In [ ]:
# Define the order of weekdays
weekday_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

# Calculate average order time and 95th percentile for each weekday
average_order_time = df_order_del_total.groupby('order_weekday')['order_time_days'].mean().reindex(weekday_order)
percentile_95 = df_order_del_total.groupby('order_weekday')['order_time_days'].quantile(0.95).reindex(weekday_order)

# Plotting barplot
plt.figure(figsize=(7, 4))
sns.barplot(x=average_order_time.index, y=average_order_time.values, palette=['#387771'], label='Average Order Time')
plt.errorbar(x=average_order_time.index, y=average_order_time.values, yerr=np.abs(percentile_95 - average_order_time.values), fmt='none', ecolor='black', capsize=5, label='95% Confidence Interval')
plt.title('Average Delivery Time and 95% Confidence Interval by Weekday')
plt.xlabel('')
plt.ylabel('Delivery Time (days)')
plt.xticks(rotation=0)
plt.legend()
plt.tight_layout()
plt.ylim(0, 18)
plt.show()

In [ ]:
df_total_del = df_order_del_total.merge(df2_no_dups, how='outer', on='order_id')

#average days for total delivery for each of the processing categories
df4 = df_total_del.groupby('ship_mode')[['total_delivery_time']].mean()

df4

In [ ]:
df4.info()

In [ ]:
# Convert timedelta column to numeric format (float, representing seconds)
df4['total_delivery_time_seconds'] = df4['total_delivery_time'].dt.total_seconds()

# If you want to convert seconds to another unit (e.g., hours)
df4['total_delivery_time_hours'] = df4['total_delivery_time_seconds'] / 3600

# If you want to convert seconds to days
df4['total_delivery_time_days'] = df4['total_delivery_time_seconds'] / (3600 * 24)

df4

In [ ]:
import matplotlib.pyplot as plt

# Assuming df4 is your DataFrame

# Plotting barplot
plt.figure(figsize=(7, 4))
plt.bar(df4.index, df4['total_delivery_time_days'], color='#387771')
plt.title('Average Delivery Time')
plt.xlabel('')
plt.ylabel('Total Delivery Time')
plt.tight_layout()
plt.show()

In [ ]:
import pandas as pd
# Beispiel-DatenFrames erstellen (platzhalter für Ihre echten DataFrames)
df = pd.DataFrame({'Column1': [1, 2], 'Column2': [3, 4]})
df1 = pd.DataFrame({'Column1': [5, 6], 'Column2': [7, 8]})
df2 = pd.DataFrame({'Column1': [9, 10], 'Column2': [11, 12]})
df2_no_dups = pd.DataFrame({'Column1': [13, 14], 'Column2': [15, 16]})
df3 = pd.DataFrame({'Column1': [17, 18], 'Column2': [19, 20]})
df3_no_dups = pd.DataFrame({'Column1': [21, 22], 'Column2': [23, 24]})
df_dur_readytoship_truck = pd.DataFrame({'Column1': [25, 26], 'Column2': [27, 28]})
df_dur_readytoship_truck_standard = pd.DataFrame({'Column1': [29, 30], 'Column2': [31, 32]})
df_dur_readytoship_truck_xpress = pd.DataFrame({'Column1': [33, 34], 'Column2': [35, 36]})
df_no_dups = pd.DataFrame({'Column1': [37, 38], 'Column2': [39, 40]})
df_order_del_time = pd.DataFrame({'Column1': [41, 42], 'Column2': [43, 44]})
df_order_del_time2 = pd.DataFrame({'Column1': [45, 46], 'Column2': [47, 48]})
df_order_del_total = pd.DataFrame({'Column1': [49, 50], 'Column2': [51, 52]})
df_prep_dur_ver = pd.DataFrame({'Column1': [53, 54], 'Column2': [55, 56]})
10:09 Uhr
# Liste der DataFrames und ihrer Namen
dataframes = {
    'df': df,
    'df1': df1,
    'df2': df2,
    'df2_no_dups': df2_no_dups,
    'df3': df3,
    'df3_no_dups': df3_no_dups,
    'df_dur_readytoship_truck': df_dur_readytoship_truck,
    'df_dur_readytoship_truck_standard': df_dur_readytoship_truck_standard,
    'df_dur_readytoship_truck_xpress': df_dur_readytoship_truck_xpress,
    'df_no_dups': df_no_dups,
    'df_order_del_time': df_order_del_time,
    'df_order_del_time2': df_order_del_time2,
    'df_order_del_total': df_order_del_total,
    'df_prep_dur_ver': df_prep_dur_ver,
}
# Speichern Sie jeden DataFrame in eine separate CSV-Datei
for name, dataframe in dataframes.items():
    filename = f'{name}.csv'
    dataframe.to_csv(filename, index=False)
    print(f'{filename} gespeichert.')