In [12]:
import pandas as pd
orders_df = pd.read_excel('data/Muesli Project raw data.xlsx', header=1, sheet_name=0)
campaign_data_df = pd.read_excel('data/Muesli Project raw data.xlsx', sheet_name=1)
order_process_data_df = pd.read_excel('data/Muesli Project raw data.xlsx', sheet_name=2)
interstudy_data_df = pd.read_excel('data/Muesli Project raw data.xlsx', sheet_name=3)

In [18]:
print('-----Orders-----')
print(orders_df.shape)
display(orders_df.sample(5))

print('-----Campaign Data-----')
print(campaign_data_df.shape)
display(df_2.sample(5))

print('-----Order Process Data-----')
print(order_process_data_df.shape)
display(df_3.sample(5))

print('-----InternData Study-----')
print(interstudy_data_df.shape)
display(df_4.sample(5))

-----Orders-----
(9994, 19)

,Index,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Origin Channel,Country/Region,City,State,Postal Code,Region,Category,Sub-Category,Product ID,Sales,Quantity,Discount,Profit
1415,2600,CA-2020-108553,2020-04-23,Standard Class,SK-19990,Sally Knutson,Email,United States,New York City,New York,10024.0,East,Power Muesli,Mega Protein,OFF-AP-10000026,121.940,2,0.0,35.3626
5757,1342,CA-2020-113481,2020-01-02,First Class,AS-10045,Aaron Smayling,Sales,United States,Jacksonville,North Carolina,28540.0,South,Power Muesli,Super Fibre Boost,OFF-BI-10003694,15.660,5,0.7,-12.5280
6851,8585,CA-2017-104808,2017-02-04,Second Class,MH-17440,Mark Haberlin,Sales,United States,Escondido,California,92025.0,West,Power Muesli,Super Fibre Boost,OFF-BI-10003676,17.248,2,0.2,6.0368
3469,9821,CA-2018-162201,2018-06-08,Standard Class,AG-10495,Andrew Gjertsen,Sales,United States,Saint Petersburg,Florida,33710.0,South,Power Muesli,Nuts and more,OFF-PA-10001215,42.240,10,0.2,13.2000
3925,4775,CA-2020-119746,2020-11-23,Standard Class,CM-12385,Christopher Martinez,Email,United States,Chicago,Illinois,60610.0,Central,Special Projects Muesil,Only Oats,TEC-PH-10004447,222.384,2,0.2,16.6788

-----Campaign Data-----
(333, 3)

           Order ID Arrival Scan Date    Customer Name
22   CA-2019-109400        2019-05-13     Nick Radford
73   CA-2019-145499        2019-06-05   Robert Waldorf
133  CA-2019-166772        2019-09-30      Heather Jas
98   CA-2019-153185        2019-09-16  Matt Hagelstein
313  CA-2020-166184        2020-04-01      Harold Ryan

-----Order Process Data-----
(5899, 5)

,Row ID,Order ID,Order Date,On Truck Scan Date,Ship Mode
1805,7819,CA-2019-138478,2019-10-21,2019-10-30,Standard Processing
2208,9771,CA-2019-123533,2019-11-24,2019-12-04,Standard Processing
5243,4172,CA-2020-100601,2020-11-16,2020-11-23,Standard Processing
1508,7386,CA-2019-105732,2019-09-13,2019-09-20,Standard Processing
4653,8591,CA-2020-126676,2020-09-29,2020-10-02,Express

-----InternData Study-----
(290, 3)

           Order ID Ready to Ship Date Pickup Date
211  CA-2020-121468         2020-11-20  2020-11-20
242  CA-2020-149160         2020-11-26  2020-11-27
199  CA-2020-160416         2020-11-18  2020-11-20
285  CA-2020-105333         2020-12-04  2020-12-07
47   CA-2019-164350         2019-09-12  2019-09-13