In [5]:
import pandas as pd
orders_df = pd.read_excel('data/Muesli Project raw data.xlsx', header=1, sheet_name=0)
campaign_data_df = pd.read_excel('data/Muesli Project raw data.xlsx', sheet_name=1)
order_process_data_df = pd.read_excel('data/Muesli Project raw data.xlsx', sheet_name=2)
interndata_study_df = pd.read_excel('data/Muesli Project raw data.xlsx', sheet_name=3)

In [6]:
print('-----Orders-----')
print(orders_df.shape)
display(orders_df.sample(5))

print('-----Campaign Data-----')
print(campaign_data_df.shape)
display(campaign_data_df.sample(5))

print('-----Order Process Data-----')
print(order_process_data_df.shape)
display(order_process_data_df.sample(5))

print('-----InternData Study-----')
print(interndata_study_df.shape)
display(interndata_study_df.sample(5))

-----Orders-----
(9994, 19)

,Index,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Origin Channel,Country/Region,City,State,Postal Code,Region,Category,Sub-Category,Product ID,Sales,Quantity,Discount,Profit
7515,5360,CA-2017-150490,2017-08-05,Standard Class,SS-20590,Sonia Sunley,Email,United States,San Francisco,California,94122.0,West,Power Muesli,Super Mega Protein,OFF-AR-10004602,45.980,2,0.0,12.8744
4922,2422,CA-2019-155551,2019-04-18,Standard Class,CR-12580,Clay Rozendal,Facebook,United States,Elmhurst,Illinois,60126.0,Central,Power Muesli,Steel Cut,OFF-ST-10003656,230.376,3,0.2,-48.9549
3921,4752,CA-2019-159989,2019-12-09,Standard Class,EB-13870,Emily Burns,Email,United States,Franklin,Tennessee,37064.0,South,Special Projects Muesil,Only Oats,TEC-PH-10000169,40.680,3,0.2,-9.1530
2486,2675,CA-2020-136875,2020-12-03,First Class,TC-21295,Toby Carlisle,Email,United States,San Diego,California,92024.0,West,Power Muesli,Nuts and more,OFF-PA-10000357,166.440,3,0.0,79.8912
2584,3414,CA-2019-100244,2019-09-20,Standard Class,GM-14695,Greg Maxwell,Sales,United States,San Francisco,California,94122.0,West,Power Muesli,Nuts and more,OFF-PA-10002319,77.520,2,0.0,37.9848

-----Campaign Data-----
(333, 3)

           Order ID Arrival Scan Date   Customer Name
285  CA-2020-149076        2020-01-27  Sean O'Donnell
215  CA-2019-134110        2019-11-25  Barry Gonzalez
67   CA-2019-133725        2019-06-03    Ken Lonsdale
255  CA-2019-117590        2019-12-16       Gene Hale
244  CA-2019-104689        2019-12-12    Fred Hopkins

-----Order Process Data-----
(5899, 5)

,Row ID,Order ID,Order Date,On Truck Scan Date,Ship Mode
3236,3867,CA-2020-146360,2020-04-23,2020-04-29,Standard Processing
19,1026,CA-2019-126529,2019-01-11,2019-01-16,Standard Processing
4457,6222,US-2020-157224,2020-09-14,2020-09-21,Standard Processing
2092,5701,CA-2019-125661,2019-11-24,2019-11-27,Express
3155,930,CA-2020-144932,2020-04-14,2020-04-17,Express

-----InternData Study-----
(290, 3)

           Order ID Ready to Ship Date Pickup Date
231  CA-2020-111556         2020-11-23  2020-11-23
38   US-2019-147711         2019-09-09  2019-09-11
49   CA-2019-121223         2019-09-13  2019-09-16
274  CA-2020-117702         2020-11-30  2020-12-02
60   CA-2019-165918         2019-09-16  2019-09-18